:root {
    --main-color: #FFD200;
    --main-text-color: #5A1F06;
    --main-background-color: #F4F6FA;
    --second-main-color: #015F20;
    --third-main-color: #D70200;
    --light-green: #05A833;
    --light-blue: #0E74E1;
    --dark-blue: #121661;
    --header-text-color: #040607;
    --orange: #E77A00;
    --red: #AE3434;
    --purple: #880997;
    --green: #28923D;
    --border-orange: #DD5C05;
    --border-red: #FB0200;
    --border-purple: #D00DE6;
    --border-green: #007517;
    --border-blue: #044A95;
    --border-yellow: #DCB404;
    --input-background: #D9D9D9;
    --input-text: #6A737F;
    --border-grey: #BAC1CA;
}

.hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    width: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
}

/*@media (min-width: 1024px) {
    main, footer {
        max-width: 1320px;
        padding-left: 48px;
        padding-right: 48px;
    }
}

main, footer{
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
    width: 100%;
}*/

main {
    font-family: Vollkorn, serif;
    background-color: white;
}


.div--offers {
    color: var(--header-text-color);
    text-align: center;
}

main, .offer-soft-skills strong, a {
    color: var(--main-text-color);
}

.offer-soft-skills, .article-school {
    background-color: var(--main-color);
}

.offer-hard-skills, .article-me {
    background-color: var(--light-green);
}

.article-hobby {
    background-color: var(--third-main-color);
}

footer {
    background-color: var(--main-background-color);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.list--primary-nav {
    display: grid;
    grid-template-columns: 37.9% 1fr;
    grid-template-rows: 6.9375em;
    justify-content: space-between;
}

.primary-nav-other {
    grid-column: 2;
    align-self: center;
}

.primary-nav span {
    visibility: hidden;
}

.primary-nav a, .primary-nav li, .personal-information a {
    display: inline-block;
}

.list--primary-nav-icones {
    font-size: 0.875em;
    margin-top: 1.625em;
}

.primary-nav-other {
    justify-self: flex-end;
}

.primary-nav {
    width: 85.03401360544%;
}

.menu {
    margin-right: 0.9375em;
    background-repeat: no-repeat;
    width: 1.8125em;
    height: 1.8125em;
}

.menu01 {
    background-image: url("../images/computer/SVG/icons/search.svg");
    margin-left: 1.4375em;
}

.menu02 {
    background-image: url("../images/computer/SVG/icons/pays.svg");
}

.menu03 {
    background-image: url("../images/computer/SVG/icons/compte.svg");
}

.menu04 {
    background-image: url("../images/computer/SVG/icons/cart.svg");
}

.text {
    font-size: 0.75em;
}

.text01 {
    margin-left: 11.3333333333em;
    margin-right: 1.666667em;
    padding: 0.8125em 3.625em 0.8125em 5.125em;
    background-image: url("../images/computer/SVG/logo.svg");
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: 1.375em 0.25em;
}

.icones {
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 3.0625em;
    margin-right: 3.07142857143em;
}

.icone01 {
    background-image: url("../images/computer/SVG/icons/parcours.svg");
}

.icone02 {
    background-image: url("../images/computer/SVG/icons/qualites.svg");
}

.icone03 {
    background-image: url("../images/computer/SVG/icons/competences.svg");
    padding-top: 2.6875em;
}

.icone04 {
    background-image: url("../images/computer/SVG/icons/valeurs.svg");
}

.icone05 {
    background-image: url("../images/computer/SVG/icons/projets.svg");
    margin-right: 0;
}

.my-name span:first-of-type, .my-name span:nth-of-type(2) {
    padding-top: 0.4821428571em;
}

.my-name span:last-of-type {
    padding-top: 0.3928571429em;
}

h2 {
    font-size: 2.75em;
}

.roboto {
    font-family: Roboto, sans-serif;
}

.projects, .personal-information article, .school-career, .div--article, .list--slider-skills, .values, .form, .section--reviews h2, .div--item-01 {
    text-align: center;
}

.subtitle {
    color: black;
    font-weight: 500;
    line-height: 1.625em;
}

.p-me, .personal-information, .personal-information a.link--qualities, .second-part .article-hobby a, .school-career figcaption, .projects a, .div--articles-projects article {
    color: white;
}

.border {
    border-radius: 2.5em;
}

.p-me {
    padding-top: 6.6428571429em;
}

.personal-information {
    background-color: var(--second-main-color);
}

.div--offers p {
    padding: 0.75em 0;
}

.logo {
    margin: 2.5em 2.8333333333em 2.125em 2.8125em;
}

.container {
    display: flex;
}

section.nav {
    flex-direction: row;
}

.text, .projects, .form, .section--reviews {
    background-color: var(--main-background-color);
}

.text02 {
    padding: 0.8125em 3.5em;
}

.outdoor_icone {
    position: absolute;
}

.first-part {
    justify-content: space-between;
    padding-left: 8.0625em;
}

.personal-information article {
    width: 25.5033557047%;
    border-radius: 0.9375em;
    position: relative;
    margin: 11.625em 0.75em 0;
    padding: 1.5em;
}

.personal-information a.link--projects {
    padding: 1.25em 3em 1.25em 5.125em;
    background-image: url("../images/computer/SVG/logo.svg");
    background-repeat: no-repeat;
    background-position: 1.375em 0.625em;
    margin: 2.4375em auto 0.9375em;
    background-color: white;
}

.personal-information a.link--qualities {
    display: block;
    padding: 1.25em 6.375em;
    max-width: 37.1657754011%;
    border: solid white 0.125em;
}

.profile-photo img {
    justify-content: flex-end;
    margin: -0.3125em 5.625em auto auto;
}

.words, .personal-information h2 {
    font-size: 3.5em;
}

.outdoor_icone-school {
    top: -5.25em;
    left: 0.6875em;
}

.outdoor_icone-me {
    top: -2.9375em;
    left: 0.8125em;
}

.outdoor_icone-hobby {
    transform: rotate(-24.73deg);
    top: -4.4375em;
    left: -0.5625em;
}

.second-part h3, .second-part a, .p-me, .school-career h2, .aside--quality p, .div--article p {
    font-size: 0.875em;
}

.black {
    font-weight: 900;
}

.second-part h3 {
    padding: 1.2142857143em 0 1.1428571429em;
}

.second-part p {
    font-size: 1.5em;
    line-height: 1.25em;
    margin: auto 0.8333333333em 1.4166666667em;
}

.second-part a {
    text-decoration: underline;
    text-underline-offset: 50%;
    text-decoration-thickness: 10%;
}

.second-part .article-school {
    color: var(--main-text-color);
}

.second-part .article-me a {
    color: var(--header-text-color);
}

.second-part .article-hobby a {
    text-decoration-color: var(--main-color);
}

.words {
    font-weight: 400;
    margin: 2.8035714286em auto auto -3em;
    text-align: center;
}

.words span {
    color: var(--main-color);
    font-size: 0.8571428571em;
}

.word-02 {
    margin-top: 0.8571428571em;
    padding-bottom: 2.8035714286em;
}

.school-career {
    background-color: var(--second-main-color);
    background-image: url("../images/computer/SVG/fond-school-careersvg.svg");
    background-repeat: no-repeat;
    padding-top: 5.4375em;
    background-size: 100%;
}

.ex-year {
    font-size: 2.75em;
    margin: 0.7272727273em 7.2954545455em 1.1590909091em;
}

.school-career a {
    padding: 1.1875em 2.6875em;
    background-color: white;
}

.school-career .div--figure-school {
    margin: 7.6875em 6.875em auto;
}

.school-career img {
    width: 100%;
    height: auto;
}

.div--figure-school {
    justify-content: space-between;
}

.div--figure-school figcaption {
    font-size: 4em;
    margin-top: 0.5em;
}

.orange-2017 time {
    -webkit-text-stroke: 5px var(--border-orange);
}

.blue-2020 time {
    -webkit-text-stroke: 5px var(--border-blue);
}

.yellow-2022 time {
    -webkit-text-stroke: 5px var(--border-yellow);
    text-shadow: black 1px 5px 10px;
}

.green-2025 time {
    -webkit-text-stroke: 5px var(--border-green);
}

.purple-2024 time {
    -webkit-text-stroke: 5px var(--border-purple);
}

.red-2023 time {
    -webkit-text-stroke: 5px var(--border-red);
}

.yellow-2022 img {
    border: solid 0.375em var(--border-yellow);
    border-radius: 1.25em;
    box-shadow: black 1px 5px 10px;
}

.yellow-2022 figcaption {
    margin-top: 0.10em;
}

.qualities {
    background-image: url("../images/computer/SVG/fond-qualities.svg");
    background-repeat: no-repeat;
    padding-bottom: 1.25em;
    background-size: 100%;
}

.qualities a.discover-me, .qualities h2, .qualities .subtitle {
    margin-left: 7.625em;
}

.qualities h2 {
    margin: 1.6590909091em 2.7727272727em 0.5454545455em;
}

.qualities .subtitle {
    max-width: 76.8992248062%;
    margin-bottom: 2.5625em;
}

.qualities a.discover-me {
    padding: 1.375em 3.5em 1.375em 4.4375em;
    border: 0.125em var(--main-text-color) solid;
    background-image: url("../images/computer/SVG/logo.svg");
    background-repeat: no-repeat;
    background-position: 1.375em 0.8125em;
}

.div--article, .div--qualities {
    justify-content: space-between;
}

.div--article {
    margin: 0.8125em 7.1875em auto 6.4375em;
}

.aside--quality {
    margin: 4.4375em 9.6875em auto auto;
}

.aside--quality p {
    color: black;
    max-width: 77.1428571429%;
    margin: 0.5625em 2.875em auto auto;
}

.aside--quality .fleche {
    margin: 16.5625em auto 0 5.5625em;
}

.aside--quality div {
    flex-direction: column;
}

.article--quality-motivation {
    margin-top: 3.125em;
}

.article--quality-discretion {
    margin-top: 7.0625em;
}

.article--quality-responsability {
    margin-top: 9.5625em;
}

.div--article h3 {
    margin: 1.6875em auto 0.625em auto;
}

.div--article p {
    color: black;
    font-weight: 600;
    margin-bottom: 1.8125em;
}

.div--article a {
    width: 9.9375em;
    display: inline-block;
    text-align: left;
    padding: 0 4.75em 0.4375em 2.3125em;
    background-image: url("./images/all/Arrow_right.svg");
    background-repeat: no-repeat;
    background-position: right;
    border-bottom: 0.125em solid var(--main-color);
}

.skills-title p {
    margin: 0.4375em 0 5.375em;
    max-width: 71.0102489019%;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.div--skills, .div--articles-values {
    overflow-x: scroll;
}

.skills-title {
    width: 42.6875em;
    margin-top: 12.3125em;
}

li.item--slider-skill + li {
    margin-left: 5.3125em;
}

.list--slider-skills figcaption {
    font-size: 1.25em;
    margin: 1.55em auto 3.95em;
}

.css figcaption {
    margin-top: 0.45em;
}

.sgc figcaption {
    margin-top: 1.25em;
}

.php figcaption {
    margin-top: 1.05em;
}

.values {
    margin-top: 2.4375em;
    background-image: url("../images/computer/SVG/fond-valeurs.svg");
    background-repeat: no-repeat;
    background-position: bottom;
}

.values p {
    margin: 1.3125em auto 1.3125em;
}

.div--articles-values {
    margin: 2.4375em 21.5625em 0;
    justify-content: left;
}

.div--articles-values h3 {
    margin: 2.625em auto 8.0625em;
}

.article--value-mutual-aid, .article--value-ambience, .article--value-variety {
    margin-top: 6.6875em;
}

.div--articles-values article:not(article:last-of-type) {
    margin-right: 2.75em;
}

.projects {
    padding-top: 10.1875em;
}

.projects h2 {
    max-width: 38.9115646259%;
    margin-left: 10.2045454545em;
    margin-bottom: 0.3409090909em;
}

.div--articles-projects {
    justify-content: space-between;
    padding: 3em 0 9.4375em;
    margin: auto 7.8125em;
}

.div--articles-projects img {
    margin-bottom: 2.1875em;
}

.article--project-galerie img {
    margin: 1.9375em auto 2.8125em;
}

.div--articles-projects article {
    max-width: 31.9672131148%;
    border-radius: 1em;
    padding: 2em 0;
}

.article--project-galerie {
    background-color: var(--third-main-color);
}

.article--project-museum {
    background-color: var(--dark-blue);
}

.article--project-chariot {
    background-color: var(--light-blue);
}

.div--articles-projects h3 {
    font-size: 1.5em;
    margin-bottom: 0.5833333333em;
}

.div--articles-projects p, .div--articles-projects a {
    font-size: 0.75em;
}

.div--articles-projects p {
    line-height: 2em;
}

.div--articles-projects a {
    padding: 1.25em 11.3333333333em;
    border-radius: 3.3333333333em;
    border: solid white 0.17em;
}

.article--project-galerie p {
    margin-bottom: 11.5833333333em;
}

.article--project-museum p {
    margin-bottom: 6.9166666667em;
}

.article--project-chariot p {
    margin-bottom: 10.9166666667em;
}

.div--articles-projects img, .div--articles-projects h3, .div--articles-projects p {
    margin-left: 3.25em;
    margin-right: 3.25em;
}

.form {
    justify-content: center;
    flex-direction: column;
}

.form p {
    margin: 1.1875em auto 3.125em;
}

input[type="submit"] {
    background-color: var(--main-color);
    border: none;
    padding: 0.75em 3.04166666667em;
    font-size: 1.5em;
    font-family: Vollkorn, serif;
    border-radius: 2.875em;
    margin-top: 1.9166666667em;
    margin-bottom: 3.04166666667em;
}

input[type="text"] {
    margin-bottom: 3.75em;
    border: none;
    border-bottom: 0.0625em solid black;
    height: 2.5em;
}

textarea {
    border: 0.0625em solid black;
}

input[type="text"], textarea {
    background-color: var(--input-background);
    width: 759px;
    opacity: 0.15;
    position: relative;
}

label {
    font-weight: 300;
    position: absolute;
    padding: 0.8125em 0 0 0.1875em;
    left: 22.5625em;
}

.section--reviews h2 {
    margin-bottom: 1.04545454545em;
    font-family: Vollkorn, serif;
}

.div--items {
    padding-bottom: 3.3125em;
}

.div--items div {
    color: black;
    flex-direction: column;
    font-size: 0.875em;
    line-height: 1.2142857143em;
}

.div--item-01 {
    margin: 0 5.2142857143em 0 10.6428571429em;
}

.div--item-02 {
    max-width: 14.5578231293%;
}

.div--item-03 {
    margin: 0 9.07142857143em 0 7.5em;
    max-width: 13.1972789116%;
}

.div--item-03 img, .div--item-02 img, .div--item-04 img {
    width: 7.07142857143em;
    margin-bottom: 0.857142em;
}

.div--items .title, .div--item-01 p, .div--item-01 small {
    font-weight: 500;
}

.div--items p {
    margin: 0.5em 0 1em;
}

.reviews {
    margin: 1.4285714286em auto 0;
}

.div--items em {
    font-style: normal;
}

small, label {
    color: var(--input-text);
}

.truspilot {
    width: 7.7142857143em;
    margin-left: 1.5em;
}

.div--item-01 p {
    margin-bottom: 0.5833333333em;
    font-size: 1.7142857143em;
}

.div--item-01 small {
    margin: 1.07142857143em auto 1.4285714286em;
}

.phone {
    margin-left: 38.875em;
}

.details {
    flex-direction: column;
    margin: 0.5em auto auto 1.4375em;
    line-height: 1.125em;
}

.contact-details {
    margin: 2em auto 3.5em;
    padding-bottom: 3.0625em;
    border-bottom: solid 0.0625em var(--border-grey);
    max-width: 82.9367777022%;
    justify-content: center;
    align-items: center;
}

.details .title {
    margin-bottom: 0.4375em;
}

.adress p {
    max-width: 87.982832618%;
}

.follow {
    max-width: 18.2993197279%;
    margin-left: 7.5em;
}

.inscription input[type="text"] {
    width: 100%;
}

.secondary-nav {
    margin-left: 8.1875em;
}

.inscription input[type="submit"] {
    font-size: 1.25em;
    padding: 0.9em 4.2em;
    margin-top: 4.25em;
}

.inscription p {
    font-family: Vollkorn, serif;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.inscription label {
    font-weight: 700;
    left: 7.625em;
}

.inscription input[type="text"] {
    background: none;
    margin-bottom: 2.3571428571em;
}

.inscription small {
    font-size: 0.75em;
}

.inscription small, .list_item-secondary-nav {
    font-weight: 800;
}

.list_item-secondary-nav, .inscription p, input[type="submit"] {
    color: var(--main-text-color);
}

.secondary-nav li {
    font-size: 14px;
}

.secondary-nav li, .list--social-networks a {
    display: inline-block;
}

.list--other-projects, .site {
    font-weight: 500;
    flex-direction: column;
}

.list_item_other-project, .link--site, .list--social-networks {
    margin-top: 0.9285714286em;
}

.list--social-networks a {
    background-repeat: no-repeat;
    margin-right: 1.5714285714em;
    width: 2.7857142857em;
    height: 2.7857142857em;
}

.insta {
    background-image: url("../images/computer/SVG/insta.svg");
    background-position: center;
}

.facebook {
    background-image: url("../images/computer/SVG/facebook.svg");
    width: 2.25em;
}

.twitter {
    background-image: url("../images/computer/SVG/twitter.svg");
}

.youtube {
    background-image: url("../images/computer/SVG/youtube.svg");
    width: 2.8125em;
    height: 2.8125em;
}

.pinterest {
    background-image: url("../images/computer/SVG/pinterest.svg");
}

.list_item-secondary-nav-site {
    margin: auto 7.2857142857em auto 8em;
}

.link--site a, .list--other-projects, .site {
    color: black;
}

.list_item_social-network span {
    visibility: hidden;
}