:root {
    --main-color: #FFD200;
    --main-text-color: #5A1F06;
    --main-background-color: #F4F6FA;
    --second-main-color: #015F20;
    --third-main-color: #D70200;
    --light-green: #05A833;
    --light-blue: #0E74E1;
    --dark-blue: #121661;
    --header-text-color: #040607;
    --orange: #E77A00;
    --red: #AE3434;
    --purple: #880997;
    --green: #28923D;
    --border-orange: #DD5C05;
    --border-red: #FB0200;
    --border-purple: #D00DE6;
    --border-green: #007517;
    --border-blue: #044A95;
    --border-yellow: #DCB404;
}

.hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    width: 1px;
}

main {
    font-family: Vollkorn, serif;
    background-color: white;
    color: var(--main-text-color);
}

.div--offers {
    color: var(--header-text-color);
    text-align: center;
}

.offer-soft-skills strong {
    color: var(--main-text-color);
}

.offer-soft-skills{
    background-color: var(--main-color);
}

.offer-hard-skills {
    background-color: var(--light-green);
}

.article-hobby {
    background-color: var(--third-main-color);
}

.article-me {
    background-color: var(--light-green);
}

.article-school {
    background-color: var(--main-color);
}

li {
    list-style-type: none;
}

a {
    color: var(--main-text-color);
    text-decoration: none;
}


.my-name span:first-of-type {
    padding-top: 25px;
    max-width: 309px;
}

.my-name span:nth-of-type(2) {
    padding-top: 10px;
    max-width: 203px;
}

.my-name span:last-of-type {
    padding-top: 20px;
    max-width: 440px;
}

h2 {
    font-size: 44px;
}

.p-me, .personal-information {
    color: white;
}

.p-me {
    padding-top: 93px;
}

.personal-information {
    background-color: var(--second-main-color);
    padding-left: 129px;
}

.div--offers p {
    font-family: Roboto, serif;
    padding: 12px 0;
}

.logo {
    padding: 47px 29px 34px 50px;
}

section.nav {
    display: flex;
    flex-direction: row;
}

ul.list--primary-nav li {
    font-family: Roboto, sans-serif;
    font-weight: 900;
}

.text {
    background-color: var(--main-background-color);
    border-radius: 40px;
}

.text01 {
    padding: 13px 58px 13px 82px;
    background-image: url("./images/computer/SVG/logo.svg");
    background-repeat: no-repeat;
    background-position: 22px 4px;
}

.text02 {
    padding: 13px 56px;
}

.outdoor_icone {
    position: absolute;
}

.first-part {
    display: flex;
    justify-content: space-between;
}


.personal-information article{
    max-width: 344px;
    max-height: 518px;
    border-radius: 15px;
    position: relative;
    display: inline-block;
    margin-top: 186px;
    padding: 24px;
    text-align: center;
}

.personal-information article + article {
    margin-left: 24px;
}

.personal-information a {
    display: inline-block;
    font-weight: 900;
    border-radius: 40px;
}

.personal-information a.link--projects {
    padding: 20px 60px 16px 82px;
    background-image: url("./images/computer/SVG/logo.svg");
    background-repeat: no-repeat;
    background-position: 22px 10px;
    max-width: 130px;
    margin-top: 47px;
    background-color: white;
}

.personal-information a.link--qualities {
    display: block;
    max-width: 8.6875rem;
    color: white;
    padding: 20px 110px 15px;
    border: solid white 2px;
    margin-top: 17px;
}

.profile-photo img {
    justify-content: flex-end;
    margin-right: 90px;
    margin-top: -10px;
}

.personal-information h2 {
    font-size: 56px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
}

.outdoor_icone-school {
    max-width: 95px;
    top: -84px;
    left: 11px;
}

.outdoor_icone-me {
    max-width: 97px;
    top: -47px;
    left: 13px;
}

.outdoor_icone-hobby {
    max-width: 102px;
    transform: rotate(-24.73deg);
    top: -71px;
    left: -9px;
}

.second-part {
    display: flex;
}

.second-part article h3 {
    padding-top: 17px;
    font-size: 14px;
    padding-bottom: 16px;
}

.second-part p {
    font-size: 24px;
    font-weight: 900;
    line-height: 30px;
    margin: 0 20px 34px;
}

.second-part a {
    font-size: 14px;
    text-decoration: underline;
    text-underline-offset: 50%;
    text-decoration-thickness: 10%;
}

.second-part .article-me h3 {
    padding-top: 0;
}

.second-part .article-school {
    color: var(--main-text-color);
}

.second-part .article-me a {
    color: var(--header-text-color);
}

.second-part .article-hobby a {
    color: white;
    text-decoration-color: var(--main-color);
}

.words{
    font-size: 56px;
    font-weight: 400;
    margin-left: -180px;
}

.words span{
    color: var(--main-color);
    font-size: 48px;
    font-weight: 900;
}

.word-01{
    margin-top: 157px;
}

.word-02{
    margin-top: 48px;
    padding-bottom: 157px;
}

.school-career{
    background-color: var(--second-main-color);
    background-image: url("./images/computer/SVG/fond-school-careersvg.svg");
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 87px;
}

.school-career h2{
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 14px;
}

.ex-year{
    font-size: 44px;
    margin: 32px 321px 51px;
}

.school-career a{
    padding: 19px 43px;
    border-radius: 40px;
    font-weight: 900;
    font-size: 16px;
    background-color: white;
}

.school-career img{
    width: 206px;
    height: 287px;
}

.school-career .div--figure-school{
    display: flex;
    margin: 123px 110px 0;
    padding-bottom: 43px;
}

.div--figure-school figcaption{
    font-weight: 900;
    font-size: 64px;
    color: white;
    margin-top: 32px;
}

.orange-2017 time{
    -webkit-text-stroke: 5px var(--border-orange);
}

.blue-2020 time{
    -webkit-text-stroke: 5px var(--border-blue);
}

.yellow-2022 time{
    -webkit-text-stroke: 5px var(--border-yellow);
    text-shadow: black 1px 5px 10px;
}

.green-2025 time{
    -webkit-text-stroke: 5px var(--border-green);
}

.purple-2024 time{
    -webkit-text-stroke: 5px var(--border-purple);
}

.red-2023 time{
    -webkit-text-stroke: 5px var(--border-red);
}

.yellow-2022 img{
    border: solid 6px var(--border-yellow);
    border-radius: 20px;
    box-shadow: black 1px 5px 10px;
}

.yellow-2022 figcaption{
    margin-top: 20px;
}

.qualities{
    background-image: url("./images/computer/SVG/fond-qualities.svg");
    background-repeat: no-repeat;
}

.qualities a.discover-me, .qualities h2, .qualities .subtitle{
    margin-left: 122px;
}

.qualities h2{
    margin-top: 73px;
    margin-bottom: 24px;
}

.qualities .subtitle{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 26px;
    color: black;
    max-width: 496px;
    margin-bottom: 41px;
}

.qualities a.discover-me{
    padding: 22px 56px 22px 71px;
    border: 2px var(--main-text-color) solid;
    border-radius: 40px;
    font-weight: 900;
    background-image: url("./images/computer/SVG/logo.svg");
    background-repeat: no-repeat;
    background-position: 22px 13px;
}

.div--article{
    display: flex;
    justify-content: space-between;
    margin: 13px 115px 0 103px;
    text-align: center;
}

.div--qualities{
    display: flex;
    justify-content: space-between;
}

.aside--quality{
    margin-right: 155px;
    margin-top: 71px;
    display: flex;
}


.aside--quality p{
    margin-top: 9px;
    margin-right: 46px;
    max-width: 162px;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 14px;
    color: black;
}

.aside--quality .fleche{
    margin-top: 265px;
    margin-left: 89px;
    width: 109px;
    height: 77px;
}

.aside--quality div{
    display: flex;
    flex-direction: column;
}

.article--quality-motivation{
    margin-top: 63px;
}

.article--quality-discretion{
    margin-top: 126px;
}

.article--quality-responsability{
    margin-top: 166px;
}

.div--article h3{
    margin-top: 27px;
    margin-bottom: 10px;
}

.div--article p{
    font-size: 14px;
    color: black;
    font-weight: 600;
    margin-bottom: 29px;
}

.div--article a, .div--article h3{
    font-family: Roboto,sans-serif;
    font-weight: 900;
}

.div--article a{
    width: 159px;
    display: inline-block;
    text-align: left;
    padding-right: 76px;
    padding-left: 37px;
    padding-bottom: 7px;
    background-image: url("./images/all/Arrow_right.svg");
    background-repeat: no-repeat;
    background-position: right;
    border-bottom: 2px solid var(--main-color);
}

.div--skills h2{
    padding-top: 197px;
}

.skills-title p{
    font-family: Roboto, sans-serif;
    color: black;
    font-weight: 500;
    margin-top: 7px;
    max-width: 485px;
}

.skills{
  display: grid;
    grid-template-columns: 1fr 1fr;
}

.div--skills{
    margin-top: 86px;
    overflow-x: scroll;
}

.skills-title{
    width: 683px;
    margin-top: 197px;
}


.list--slider-skills{
    display: flex;
    text-align: center;
}

li.item--slider-skill+li{
    margin-left: 85px;
}


.list--slider-skills figcaption{
    font-size: 20px;
    font-weight: 900;
    margin-top: 31px;
    margin-bottom: 79px;
}

.css figcaption{
    margin-top: 9px;
}

.sgc figcaption{
    margin-top: 25px;
}

.php figcaption{
    margin-top: 21px;
}

.values{
    text-align: center;
    background-image: url("./images/computer/SVG/fond-valeurs.svg");
    background-repeat: no-repeat;
    background-position: bottom;
}

.values h2{
    margin-bottom: 21px;
}

.values p{
    margin-bottom: 21px;
    font-family: Roboto, sans-serif;
    color: black;
    font-weight: 500;
}

.div--articles-values{
    display: flex;
    overflow-x: scroll;
    margin: 39px 345px 0;
    justify-content: left;
}

.div--articles-values h3{
    margin-top: 42px;
    padding-bottom: 129px;
}

.article--value-mutual-aid, .article--value-ambience, .article--value-variety{
    margin-top: 107px;
}

.div--articles-values article:not(article:last-of-type){
    margin-right: 44px;
}

.projects, .form, .section--reviews{
    background-color: var(--main-background-color);
}

.projects{
    text-align: center;
}

.projects h2{
    max-width: 572px;
    margin-left: 10.2045454545em;
    margin-bottom: 15px;
}

.div--articles-projects{
    display: flex;
    padding-bottom: 151px;
    padding-top: 48px;
    justify-content: space-between;
    margin-left: 124px;
    margin-right: 124px;
}

.div--articles-projects article{
    max-width: 390px;
    max-height: 676px;
}

.article--project-galerie{
    background-color: var(--red);
}

.article--project-museum{
    background-color: var(--dark-blue);
}

.article--project-chariot{
    background-color: var(--light-blue);
}