@font-face {
    font-family: Vollkorn, sérif;
    font-weight: 400;
    src: url("./fonts/vollkorn/Vollkorn-Regular.ttf");
}

@font-face {
    font-family: Vollkorn, sérif;
    font-weight: 900;
    src: url("./fonts/vollkorn/Vollkorn-Black.ttf");
}

@font-face {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    src: url("./fonts/roboto/Roboto-Black.ttf");
}

@font-face {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    src: url("./fonts/roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    src: url("./fonts/roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    src: url("./fonts/roboto/Roboto-Regular.ttf");
}

:root{
    --main-color : #FFD200;
    --main-text-color : #5A1F06;
    --main-background-color : #F4F6FA;
    --second-main-color : #015F20;
    --third-main-color : #D70200;
    --light-green : #05A833;
    --light-blue : #0E74E1;
    --dark-blue : #121661;
    --header-text-color :#040607;
    --orange : #E77A00;
    --red : #AE3434;
    --purple : #880997;
    --green : #28923D;
    --border-orange : #DD5C05;
    --border-red : #FB0200;
    --border-purple : #D00DE6;
    --border-green : #007517;
    --border-blue : #044A95;
    --border-yellow: #DCB404;
}

.hidden{
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    width: 1px;
}

body{
   background-color: var(--main-background-color);
    font-family: Vollkorn, serif;
    color: var(--main-text-color);
}

.div--offers{
    color: var(--header-text-color);
}

.offer-soft-skills strong {
    color: var(--main-text-color);
}

.offer-soft-skills, .school-career{
    background-color: var(--main-color);
}

.offer-hard-skills{
    background-color: var(--light-green);
}

.personal-information{
    background-color: var(--second-main-color);
}

.skills{
    background-color: white;
}

li{
    list-style-type: none;
}

h2{
    font-size: 44px;
}

.personal-information h2{
    font-size: 56px;
    color: white;
}