@font-face {
    font-family: "Vollkorn";
    font-weight: 400;
    src: url(../../fonts/Vollkorn/static/Vollkorn-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Vollkorn";
    font-weight: 900;
    src: url(../../fonts/Vollkorn/static/Vollkorn-Black.ttf) format('truetype');
}